:root {
  --section-pading: 100px;
}
/* Start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Small Screen*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Mediume Screen  */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Larger Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End global rules */
/* Start header */

header .container {
  display: flex;
  align-items: center;
  min-height: 97px;
  position: relative;
}

header h1 {
  margin: 0;
  font-size: 20px;
}

header .container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .container nav ul {
  display: flex;
  justify-content: space-between;
  transition: 1s linear;
}

header .container nav i {
  font-size: 28px;
}
.toggle {
  display: flex !important;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(0 0 0/70%);
}
.show-toggle-menu {
  animation-name: show-toggle-menu;
  animation-duration: 3s;
  animation-timing-function: linear;
}
@keyframes show-toggle-menu {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }
  100% {
    transform-origin: top;
    transform: scaleY(1);
  }
}
.hidden-togle-menu {
  animation-name: hiddentoggle-menu;
  animation-duration: 1s;
  animation-timing-function: linear;
}
@keyframes hiddentoggle-menu {
  0% {
    transform: scaleY(1);
    transform-origin: top;
  }
  100% {
    transform-origin: top;
    transform: scaleY(0);
  }
}

.li-margin {
  margin: 15px 0px;
}

.a-display {
  display: block;
  color: white;
}
/* header .container nav i:hover + ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(0 0 0/70%);
} */
/* header .container nav i:hover + ul li {
  margin: 15px 0px;
} */

.styling-link {
  color: white !important;
  display: block;
}
.link {
  color: black;
}
@media (max-width: 994px) {
  header .container nav ul {
    display: none;
  }
}

@media (min-width: 995px) {
  header .container nav i {
    display: none;
  }
}

header .container nav ul li a {
  text-decoration: none;
  padding: 18px;
  text-transform: uppercase;
  transition: background-color 0.5s linear;
}

header .container nav ul li a:hover {
  background-color: black;
  color: white;
}

/* End header */
/* Start landing */

.landing {
  background-image: url("../images/pexels-binyamin-mellish-106399.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
  margin-bottom: 70px;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0/60%);
}

.landing .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 10px;
  max-width: 100%;
  /* border: 1px solid green; */
}

.landing .content form {
  display: flex;
  position: relative;
  width: 600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid red; */
}

.landing .content form input[type="search"] {
  flex: 1;
  padding: 10px 0 10px 50px;
  background: none;
  color: white;
  outline: 0;
  caret-color: white;
  border: 1px solid white;
  border-right: none;
  width: 100%;
}

.landing .content form input[type="search"]::placeholder {
  color: white;
  text-transform: capitalize;
}

.landing .content form input[type="submit"] {
  background-color: black;
  text-transform: capitalize;
  border: 1px solid white;
  color: white;
  outline: 0;
  padding: 0px 20px;
  cursor: pointer;
  border-left: none;
}

.landing .content form i {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 20px;
  color: white;
}
/* End landing */

/* Start description */
.description {
  padding-top: var(-section-pading);
  padding-bottom: var(-section-pading);
}

.description .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px;
}

@media (max-width: 767px) {
  .description .content {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.description .content .images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-content: center;
  gap: 10px;
  transition: 1s linear;
}

.description .content .images img {
  max-width: 100%;
}
.animated-img {
  animation-name: animated-img;
  animation-duration: 2s;
  animation-timing-function: linear;
  /* opacity: 1 !important; */
}

@keyframes animated-img {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.description .content .text {
  padding: 20px 40px;
  line-height: 2.4;
  font-weight: 400;
  font-size: 17px;
  background-color: #fcfcfc;
}
/* End description */

/* main heading */
.main-heading {
  text-align: center;
}

.main-heading h2 {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: normal;
  margin-bottom: 30px;
}

.main-heading p {
  line-height: 2;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-bottom: 30px;
  color: #777;
}

/* End main headin */
/* Start houses */
.housses {
  padding-top: var(--section-pading);
  padding-bottom: var(--section-pading);
}

.housses .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 48px;
}

.housses .container .card {
  /* border: 1px solid black; */
  box-shadow: 0px 2px 8px 0px black;
  transition: transform 0.5s linear;
}

.housses .container .card:hover {
  transform: scale(1.1);
}

.housses .content .card .body-content {
  padding: 10px 20px;
  background-color: #fcfcfc;
}

.housses .content .card .body-content h4 {
  text-transform: capitalize;
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 400;
  color: #0a81ab;
}

.housses .content .card .body-content span {
  display: block;
  color: red;
  font-weight: bold;
  margin-bottom: 15px;
}

.housses .content .card .body-content p {
  line-height: 1.8;
  color: #777;
  font-weight: 400;
  margin-bottom: 15px;
}

.housses .content .card .body-content a {
  display: block;
  text-decoration: none;
  text-align: center;
  margin-bottom: 15px;
  padding: 10px 20px;
  background-color: #39a6a3;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border: 1px solid white;
  transition: 0.5s linear;
}

/* .housses .content .card .body-content a:hover {
  background-color: #0c4271;
  color: black;
} */

.housses .content .card img {
  max-width: 100%;
}
/* End houses */

/* Start Avantage */
.avantages {
  padding-top: var(--section-pading);
  padding-bottom: var(--section-pading);
  background-color: #fdfaf6;
}

.avantages .container .columns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

.avantages .container .col {
  text-align: center;
  padding: 70px 18px;
  background-color: #e4efe7;
  color: black;
  /* box-shadow: 0px 0px 7px 0px #0c4271; */
  /* border-radius: 5px; */
}

.avantages .container .columns div:first-child {
  background-color: #064420;
}

.avantages .container .columns div:first-child p,
.avantages .container .columns div:first-child i,
.avantages .container .columns div:first-child h5 {
  color: white;
}

.avantages .container .col i {
  font-size: 40px;
  margin-bottom: 30px;
}

.avantages .container .col h5 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.avantages .container .col p {
  line-height: 1.6;
  color: #777;
}
/* End Avantage */
